<form id="form-location" novalidate>
  <div class="input-group">
    <button type="button" class="btn btn-light border ripple" ng-click="back()"><span class="mdi mdi-arrow-left-thick"></span></button>
    <button type="button" class="btn btn-light border ripple" ng-click="forward()"><span class="mdi mdi-arrow-right-thick"></span></button>
    <button type="button" class="btn btn-light border ripple" ng-click="refresh()"><span class="mdi mdi-refresh"></span></button>
    <button type="button" class="btn btn-light border ripple" ng-click="finder.open()"><span class="mdi mdi-note-search"></span></button>
    <button type="button" class="btn btn-light border ripple" ng-click="select_location()"><span class="mdi mdi-magnify"></span></span></button>
    <input class="form-control" type="text" ng-model="location" id="location">
    <button type="submit" ng-click="navigate()" class="btn btn-text border ripple">Go</button>
  </div>
</form>