<form id="form-location" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-text border ripple" ng-click="back()"><span class="mdi mdi-arrow-left-thick"></span></button>
      <button type="button" class="btn btn-text border ripple" ng-click="forward()"><span class="mdi mdi-arrow-right-thick"></span></button>
      <button type="button" class="btn btn-text border ripple" ng-click="refresh()"><span class="mdi mdi-refresh"></span></button>
      <button type="button" class="btn btn-text border ripple" ng-click="select_location()"><span class="mdi mdi-magnify"></span></span>
    </div>
    <input class="form-control" type="text" ng-model="location" id="location">
    <div class="input-group-append">
      <button type="submit" ng-click="navigate()" class="btn btn-text border ripple">Go</button>
    </div>
  </div>
</form>